@model GamesModel
@{
    ViewData["Title"] = Model.GameName;
}

<h2>@Model.GameName</h2>
<iframe src="@Model.GameSrc" style="width:960px;height:600px;border:0"></iframe>
<div>@Model.GameDescription</div>