
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<iframe src="https://c.simmer.io/static/unityFrame/index.html?url=https%3A%2F%2Fsimmercdn.com%2Funity%2FIIcKoZXYk7eBPWz5SltiNHVp99f2%2Fcontent%2Ff6be4203-f760-49de-7bfc-ed0d687c3d60&imagePath=screens/2.png" style="width:960px;height:600px;border:0"></iframe>