@model List<GamesModel>
@{
    ViewData["Title"] = "Games";
}

<h2>Games</h2>
<div>
    @{
        foreach (GamesModel game in Model)
        {
            <a asp-controller="Game" asp-route-id="@game.GameID">@game.GameName</a>
        }
    }
</div>