
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<iframe src="https://c.simmer.io/static/unityFrame/index.html?url=https%3A%2F%2Fsimmercdn.com%2Funity%2FIIcKoZXYk7eBPWz5SltiNHVp99f2%2Fcontent%2Fa0656c33-44d9-2f94-0844-4c9055f10e79&imagePath=screens/0.png" style="width:960px;height:600px;border:0"></iframe>